; ini 文件的注释使用英文分号

[general]
data_path = data

; 屏幕分辨率
width = 2560
height = 1440

; 字幕窗口高度
ovl_h = 120

[game]
nickname = KumaTea
male = 1
; '1', 'yes', 'true', 'on'
; https://stackoverflow.com/questions/12467731

resolution = 2560x1080
data_path = D:\Games\Genshin Impact\Genshin Impact Game\YuanShen_Data

[intervals]
; 循环任务间隔
; 根据电脑性能自行调整
genshin_info = 30
talking = 5
dialog = 1
draw = 0.1
