# conda available

# required by paddleocr

# install this first
# or pip will fail building
patch-ng

# lmdb
# tqdm
# lxml
numpy
# cython
# pyyaml
# shapely
# openpyxl
# attrdict
# patch-ng
# pyclipper
# rapidfuzz
# premailer
# scikit-image
# Pillow>=10.0.0

# this is available in conda but with too many obsolete dependencies
# imgaug

# conda install --channel https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/
paddlepaddle

# others
pygame
pywin32
pykakasi
apscheduler<4

# dev only
Levenshtein

# pip only
dxcam

paddleocr>2.7.0.3,!=2.7.4,!=2.7.5
