# conda available

# required by paddleocr

# install this first
# or pip will fail building
patch-ng

# numpy<2.0.0a0
# add by onnxocr

# below will be installed
# as numpy's deps

# lmdb
# tqdm
# lxml
# cython
# pyyaml
# shapely
# openpyxl
# attrdict
# patch-ng
# pyclipper
# rapidfuzz
# premailer
# scikit-image
# Pillow>=10.0.0

psutil

onnxocr

# conda install --channel https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle
# paddlepaddle<3.0.0a0
# paddlepaddle-gpu
# only if RAM > 16G

# others
dxcam
# imgaug

pygame
pywin32  # import win32api
pykakasi
apscheduler<4.0.0a0

# dev only
Levenshtein

# conda create -n gsds "albucore==0.0.13" "albumentations==1.4.10" "apscheduler<4.0.0a0" "numpy<2.0.0a0" "paddlepaddle<3.0.0a0" beautifulsoup4 cython dxcam fire imgaug Levenshtein patch-ng psutil pyclipper pygame pykakasi python-docx python-lmdb pywin32 pyyaml requests tqdm --channel https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle

# ============

# pip only

# paddleocr>2.7.0.3,!=2.7.4,!=2.7.5
